
<div class="container">

  <div class="d-flex flex-column justify-content-center align-items-center align-items centrar">

      <h1 class="text-center mb-5 animacion-entrada">Mini Calculadora</h1>

      <div class=" entrada-suave bg-success rounded-3 p-4 shadow-lg">
        <input 
            type="number" 
            class="w-100 form-control fs-5 fw-light"
            placeholder="Ingrese el dato 1"
            [(ngModel)]="numero1"
            (ngModelChange)="resultadoAutomatico()"
        >
        <br/>
        <input 
            type="number" 
            class="w-100 form-control fs-5 fw-light"
            placeholder="Ingrese el dato 2"
            [(ngModel)]="numero2"
            (ngModelChange)="resultadoAutomatico()"
        >
        <br/>

        <div class="">
          <div class=" d-flex justify-content-center">
            <button class="btn fw-light fs-5 btn-warning m-2 boton" type="button" (click)="sumar()" >+</button>
            <button class="btn fw-light fs-5 btn-warning m-2 boton" type="button" (click)="resta()" >-</button>
            <button class="btn fw-light fs-5 btn-warning m-2 boton" type="button" (click)="mulplicacion()" >x</button>
            <button class="btn fw-light fs-5 btn-warning m-2 boton" type="button" (click)="division()" >/</button>
          </div>
          <button class="btn fw-light fs-5  btn-danger w-100 boton mt-3" type="button" (click)="limpiar()" >Limpiar</button>
        </div>

        <div class="aparecer bg-warning rounded-3 mt-3 p-3 fs-5 fw-light" *ngIf="numero1 >= 1 && numero2 >= 1 && tipo_operacion.length >= 1">
          Resultado:  {{numero1}} {{tipo_operacion}} {{numero2}} = <span class="result"> {{resultado}} </span>
        </div>

      </div>

    </div>

</div>